.btn-ready{
    width: 131px;
    height: 47px;
    margin-bottom: 30px;
    padding-bottom: 10%;
    background: #A7A39D;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
font-style: normal;
font-weight: bold;
}